stages:
  - dev
  - dep
dev:
  stage: dev      # stage
  only:
    - master          # branch support regex
  script:
    - ssh -p 50805 faier@udev0-mg.faidev.cc << ssh
    - /usr/bin/python /home/faier/script/cicd/cicd_mg.py -g mgproduct -t svr -b master
    - ssh

dep:
  stage: dep      # stage
  only:
    - pre-production          # branch support regex
  script:
    - ssh -p 50805 faier@dep0.faisvr.cc << ssh
    - /usr/bin/python /home/faier/script/cicd/cicd_mg.py -g mgproduct -t svr -b pre-production
    - ssh
